* {
    box-sizing: border-box;
  }

body {
    padding: 20px;
    margin: 10px;
    background-color: whitesmoke;
}

.container {
    border-radius: 10px;
    border: 1px solid teal;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 0px 20px 20px 30px;
    justify-content: center;
    align-items: center;
    display: block;
    box-shadow: 16px 16px 21px -14px rgba(0,0,0,0.21);
    -webkit-box-shadow: 16px 16px 21px -14px rgba(0,0,0,0.21);
    -moz-box-shadow: 16px 16px 21px -14px rgba(0,0,0,0.21);
    /* background-color: #67bde6; */
    background-color: #6B7A8F;
}

form#currency-converter {
    display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
}

h1#app-title {
    text-align: center;
    /* background: floralwhite; */
    background: #F7882F;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

input,select {
    margin: 5px;
    padding: 0px;
    grid-column: 3 / span 2;
    border-radius: 3px;
    border: 1px solid teal;
    background: #F7C331;
}

button.submit {
  grid-column: 2/span 2;
  margin-top: 20px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid teal;
  background: #DCC7AA;
}

#final-result, #from-value {
    font-size: 1.4rem;
    text-align: center;
}

.result {
    text-align: center;
    font-family: Consolas, monaco, monospace;
    /* font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace; */
}

label {
    grid-column: 1 / span 1;
    align-self: center;
    /* color: white; */
}